//basics

* {
  margin: 0;
  padding: 0;
}

//layout

#layout {
  position: absolute;
  height: 100vh;
  width: 100%;
  alignment: center;
  justify-content: center;
  overflow-y: scroll;
}
nav {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  left: 0%;
  right: 0%;
  top: 0px;
  background: #F6F6F6;
  z-index: 1;
}
.navbar-item {
  display: flex;
  align-items: center;
  alignment: center;
  justify-content: center;
  flex: 1;
}
#group-11 {
  position: relative;
  display: flex;
  flex: 2;
  margin: 1rem;
}
footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 41px;
  left: 0%;
  bottom: 0px;
  width: 100%;
  background: #000000;
}

//view

.view {
  flex-direction: column;
  display: flex;
  position: relative;
  background: #F5F5F5;
  height: 100%;
  width: 100%;
  align-items: center;
  &.justified {
    justify-content: center;
  }
}
#group-9 {
  alignment: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dot {
  &-medium {
    margin: 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    height: 120px;
    width: 120px;
  }
  &-small {
    margin: 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    height: 80px;
    width: 80px;
  }
}
#start-icon {
  width: 60px;
  height: 60px;
}
#size-windows {
  display: flex;
  flex-direction: row;
}
.size-window {
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 0.75rem;
  padding: 20px 20px;
  width: 304px;
  background: #FFFFFF;
}
#ingredients-windows {
  flex-direction: column;
  flex: 4;
  overflow-y: scroll;
}
.ingredients-window {
  position: relative;
  align-items: center;
  width: 944px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0.75rem;
  background: #FFFFFF;
  flex: 1;
}
.ingredients-input {
  height: 25px;
  width: 25px;
  text-align: center;
  margin: 0.5rem;
  font-weight: bold;
  font-size: 25px;
  background: #FFFFFF;
}
#checkout-product {
  margin: 1rem;
  width: 624px;
  background: #FFFFFF;
}
.checkout-row {
  position: relative;
  align-items: center;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// grid

.row {
  display: flex;
  flex-direction: row;
  alignment: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;
  flex: 1;
  &-center {
    display: flex;
    flex-direction: row;
    alignment: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    flex: 1;
  }
  &-no-flex {
    display: flex;
    flex-direction: row;
    alignment: center;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }
}
.col {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  alignment: center;
  flex: 1;
  &-flexible {
    flex-direction: column;
    align-items: center;
    justify-content: right;
    alignment: center;
    flex: 1;
  }
}
// buttons

%base-button {
  border: none;
  outline: none;
  justify-content: center;
  position: relative;
  width: 140px;
  height: 48px;
  background: #000000;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  &:hover {
    background: #7B7B7B;
    cursor: pointer;
  }
}
.btn {
  &-start {
    @extend %base-button
  }
  &-return-transparent {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    align-items: center;
    color: #000000;
    border: none;
    outline: none;
    background: none;
    &:hover {
      cursor: pointer;
    }
  }
  &-return-dark {
    @extend %base-button;
    margin: 1rem;
    width: 292px;
    height: 48px;
  }
  &-layout {
    @extend %base-button;
    width: 224px;
    margin: 0.75rem;
  }
  &-flex {
    @extend %base-button;
    flex: 1;
  }
  &-large {
    @extend %base-button;
    height: 64px;
    width: 624px;
    &.light {
      margin: 0.75rem;
      border: 1px solid #000000;
      color: #000000;;
      background: none;
    }
    &.dark {
      margin: 0.75rem;
      background: #000000;
      color: #FFFFFF;
    }
  }
}

// text styles

p {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    align-items: center;
    text-align: center;
  &.small {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
  }
  &.medium {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    &-align-left {
      text-align: left;
    }
  }
  &.big-bold {
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
    text-align: right;
  }
}
h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  text-align: center;
  text-transform: uppercase;
  margin: 1rem;
  color: #000000;
  &.black {
  }
  &.silver {
    color: #7B7B7B;
  }
}
h3 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  margin: 1rem;
  text-align: center;
  &.silver {
    color: #7B7B7B;
  }
  &.black {
    color: #000000;
  }
}
h4 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  &.align-right {
    text-align: right;
  }
}
